<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/257d64f6e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Home {% endblock %}</title>
</head>
<body>

    <!-- path('shows', views.shows),
    path('shows/new', views.addshow),
    path('shows/<num>', views.tvshowtwo),
    path('shows/<num>/edit', views.editshow),
    path('second/<name>', views.second),-->
    <div id="navbarito" class="container-fluid p-0 bg-secondary" >
        <div class="row" style="background-image: url('https://i.insider.com/594801e9e592ed0b1a8b50fe?width=700'); background-size: cover;">
        <div class="col-6">
        <nav  class="navbar navbar-expand-lg navbar-dark p-4" >
            <a class="navbar-brand fw-bolder" href="/shows">Shows</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link fw-bolder" href="/shows">shows <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" href="/shows/new">New Show</a>
                </li>

                </ul>
            </div>
        </div>
            <div class="offset-4 col-1 bg-white p-4">
                <h5>Hi: {{request.session.name}}</h5>
            </div>
        </div>
        </nav>
    {% block content %}
        
        
    {% endblock %}
    </div>
    {% block scripts %}
        
        
    {% endblock %}
</body>
</html>
