{% extends 'index.html' %}

{% block title %}Tv_Show {% endblock %}

{% block content %}
<div class="container bg-secondary text-white p-2">
    <div class="row p-2">
        <div class="offset-1 col-9">
            <h4 class="p-0 mb-4 display-5 text-white mt-3">Tv Show: <span class="fw-bolder">{{this_show.title}}</span></h4>
            <h6>Network: </h6>
            <h4 class="fw-bolder">
                {{this_show.networks.title}}
            </h4>
            <h6>Release: </h6>
            <h5 class="fw-bolder">
                {{this_show.release_date}}
            </h5>

        </div>
    </div>
    <div class="row p-2">
        <div class="col-6 offset-1">
            <h6>Description:</h6>
            <p class="bg-seondary border border-muted text-white p-2" style="min-height:150px; min-width:200px;">{{this_show.description}}</p>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-6 offset-1">
            <p>Last Update:  {{this_show.updated_at}}</p>

            <a class="text-white" href="/shows/{{this_show.id}}/edit">Edit</a> <a class="m-2 deletebtn text-white" type="button" href="/shows/{{this_show.id}}/delete">Delete</a>
        </div>
    </div>
</div>

{% endblock %}  

{% block scripts %}
    <script>
        $('.deletebtn').on('click',function(evento){
            evento.preventDefault();
            const href =$(this).attr('href');
            console.log(href);
            const yes= confirm('Are you sure to delete this show?');
            if (yes){
                window.location= href
            };
        })
    </script>
{% endblock %}